*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.planoFundo{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(/static/IMAGES/psicologo.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.gradeContainer{
    width: 50%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.99;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th{
    padding: 2%;
    text-align: center;
    color: white;
}
td{
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
thead{
    background-color: #009688;
    color: #ffffff;
    text-align: left;
}
tbody > tr:nth-child(2n){
    border-bottom: 1px solid #dddddd;
}
tbody > tr:nth-child(2n-1){
    background-color: #f3f3f3;
}
.Container{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
}
.inputs{
    display: inline-block;
    width: 35%;
    height: 12vh;
    background: transparent;
    border-radius: 30px;
    padding: 10px;
}
.input{
    background-color: white;
    margin-right: 10px;
    width: 40%;
    height: 4vh;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
}
.botoes{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.botaoContainer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    width: 60px;
    height: 60px;
    border: 3px solid #009688;
    border-radius: 40px;
    background: transparent;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    line-height: 1;
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
    color: #009688;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover{
    color: white;
    border: none;
}
button:hover span{
    width: 100%;
}


