<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="João G. Carvalho">

    <title>KD MEU SS?</title>
    <link rel="stylesheet" href="/static/CSS/PagInicial.css">
    <link rel="stylesheet" href="/static/CSS/Menu.css">
</head>
<body>
    <div class="planoFundo">
        <div class="navbar">
            <p style="color: #fff; font-family: fantasy; font-size: 30px">KD MEU SS</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gerarGrade">Grades</a></li>
                <li><a href="/gerarFluxo">Fluxos</a></li>
                <li><a href="https://github.com/joaoseisei/KDMeuSS/">Github</a></li>
            </ul>
        </div>
        <div class="frase">
            <h1>MONTE SUA GRADE</h1>
            <p>Venha coringar menos gerando sua grade automaticamente.</p>
            <div>
                <a href="/gerarGrade">
                    <button type="button"><span></span>GERAR GRADE</button>
                </a>
                <a href="/gerarFluxo">
                    <button type="button"><span></span>VER FLUXO</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>